* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
}

header {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.proj {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 375px;
  background-color: gainsboro;
  padding: 114px 24px;
}

.pg1 {
  display: flex;
  flex-direction: column;
  max-width: 327px;
  margin: auto;
  background-image: url('back2.png');
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.container {
  max-width: 327px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 200px;
}

.logo a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-weight: 1000;
  color: rgb(110, 110, 253);
  font-family: sans-serif;
}

.hover-image {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hover-image:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.flexy {
  display: flex;
  max-width: 327px;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  padding: 114px 24px;
  border-radius: 0 0 0 75px;
}

h1 {
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 1rem;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1rem;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.h2 {
  color: rgb(81, 81, 253);
  padding-bottom: 1rem;
  gap: 16px;
  width: hug(117px);
  height: hug(24px);
}

#image1 {
  padding-top: 114px;
  padding-right: 24px;
  padding-bottom: 1114px;
  padding-left: 24px;
}

#line {
  border-top: 2px solid rgb(110, 110, 245);
  padding-bottom: 5rem;
}

.page2 {
  max-width: 327px;
  height: 552px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 16px;
  gap: 12px;
  margin-top: 100px;
  background-color: #fff;
}

img.page2 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.page2 p {
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.flexy2 {
  display: flex;
  flex-direction: column;
}

.flexy2 img {
  width: hug(295px);
  height: hug(80px);
  gap: 12px;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.s1 {
  width: 57px;
  height: 24px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 12px;
  padding-bottom: 4px;
  background-color: #e0e0fd;
  text-align: center;
}

.s2 {
  font-weight: 500;
  size: 12px;
  line-height: 16px;
}

.s3 {
  width: 49px;
  font-weight: 500;
  size: 12px;
  line-height: 16px;
}

.s4 {
  width: 100px;
  font-weight: 500;
  size: 12px;
  line-height: 16px;
}

.s1 p {
  color: #6070ff;
}

button {
  width: 126px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  margin-top: 30px;
  padding: 12px;
  gap: 10px;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #396df2;
}

.pg3 img {
  height: 110px;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 375px;

  /* height: 250px; */
  align-items: flex-start;
  justify-content: center;
  border-radius: 0 75px 0 0;
  background-color: white;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons img {
  padding: 8px;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.button2 {
  width: 162px;
}

.lan {
  margin-top: 100px;
}

.lans {
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 200px;
  padding: 12px;
  gap: 12px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.l1 {
  display: flex;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  background-color: #eeeded;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.l1 p {
  font-weight: 500px;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-top: 15px;
}

#imgs {
  margin-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 779px;
  background-image: url('back2.png');
  background-color: #6070ff;
  max-width: 375px;
  margin: auto;
  border-radius: 75px 0 0 0;
  align-items: center;
}

.form h1 {
  font-weight: 700;
  margin-top: 100px;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.form p {
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin: 0 24px;
}

.text {
  width: 300px;
  height: 48px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #cfd8dc;
}

.area {
  height: 160px;
}

.form button {
  margin-right: 193px;
  width: 130px;
}

.lapg {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: auto;
  background-color: gainsboro;

  /* height: 1100px; */
}

.middle {
  background-color: white;
}

.grid h1 {
  margin-top: 200px;
}
